header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchbox {
  position: relative;
  width: 50%;
}
.searchbox-input {
  font-weight: 500;
  color: var(--bg-color);
  padding: 0.5rem;
  padding-left: 3rem;
  border-radius: 3rem;
  border: 0;
  width: 100%;
}

.searchbox-icon {
  color: var(--bg-color);
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  width: 1.3rem;
  height: 1.3rem;
}

header .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 1rem;
  }
  .searchbox {
    width: 90%;
  }
}

.weather-container {
  overflow: hidden;
  margin: 10px;
}
.weather-slider {
  display: flex;
  flex-flow: row nowrap;
  max-width: 95%;
  margin: 0 auto;
  overflow-x: scroll;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .weather-slider {
    max-width: 100%;
  }
}

.weather-container h1 {
  animation: slide-in-left 0.5s ease-out forwards;
  margin-left: 4%;
  font-size: 2rem;
}

.weathercard {
  animation: slide-in 0.5s ease-out forwards;
  box-sizing: content-box;
  position: relative;
  padding: 3.5rem;
  border-radius: 10px;
  margin: 1rem;
  background-color: var(--card);
}

.weathercard img {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 50px;
  height: 50px;
}

.weathercard .temp {
  font-size: 5rem;
  font-weight: 700;
}
.weathercard .temp sup {
  font-size: 2rem;
}
.weathercard .condition {
  font-size: 1rem;
}

.weathercard .time {
  opacity: 0.85;
  font-size: 1.1rem;
  top: 27px;
  left: 15px;
  position: absolute;
}

.weathercard .minmaxtemp {
  font-weight: 700;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
}
.weathercard .minmaxtemp_condition {
  padding-top: 0.5rem;
  font-size: 1rem;
}

.weathercard .dayofweek {
  opacity: 0.85;
  font-size: 1.1rem;
  top: 25px;
  left: 15px;
  position: absolute;
}

.weathercard .mintemp {
  opacity: 0.75;
}

@media screen and (max-width: 768px) {
  .weathercard {
    width: 75%;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-3%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-3%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
